{#
/**
 * @file
 * Theme override to display a single page.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 * - logged_in: A flag indicating if user is logged in.
 * - is_admin: A flag indicating if user is an admin.
 * - page: Full page object with regions.
 */
#}
<div class="layout-container">

  <header class="site-header" role="banner">
    {{ page.header }}
  </header>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main" class="main-content">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% include '@sacda_test_2/includes/footer.html.twig' %}

</div>{# /.layout-container #}
